<ion-header [translucent]="true">
  <ion-toolbar color="framboesa">
    <ion-title>
      Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card>
    <ion-item>
        <ion-label position="floating" color="framboesa">Primeiro valor: </ion-label>
      <ion-input type="number" [(ngModel)]="primeiroValor"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="framboesa">Segundo valor: </ion-label>
      <ion-input type="number" [(ngModel)]="segundoValor"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="framboesa">
        <ion-label>RESULTADO: </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="resultado"> {{ resultado }} </ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="framboesa">
    <ion-button (click)="soma()" color="dark" expand="block">
      <ion-icon name="add-circle"></ion-icon>
      &nbsp;&nbsp;SOMA&nbsp;&nbsp;
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>

    <ion-button (click)="subtracao()" color="dark" expand="block">
      <ion-icon name="remove-circle"></ion-icon>
      &nbsp;&nbsp;SUBTRAÇÃO&nbsp;&nbsp;
      <ion-icon name="remove-circle"></ion-icon>
    </ion-button>

    <ion-button (click)="multiplicacao()" color="dark" expand="block">
      <ion-icon name="close-circle"></ion-icon>
      &nbsp;&nbsp;MULTIPLICAÇÃO&nbsp;&nbsp;
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>

    <ion-button (click)="divisao()" color="dark" expand="block">
      <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
      &nbsp;&nbsp;DIVISÃO&nbsp;&nbsp;
      <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
    </ion-button>

  <br />

  <ion-button (click)="limpar()" color="dark" expand="block">
    <ion-icon name="refresh-circle"></ion-icon>
    &nbsp;&nbsp;LIMPAR CAMPOS&nbsp;&nbsp;
    <ion-icon name="refresh-circle"></ion-icon>
  </ion-button>

  </ion-card>

</ion-content>